body {
  height: 100%;
}

#header{
  position: absolute;
  background: #444 url("../images/logo_gdg_devfest.png") no-repeat left center;
  height: 0%;
  width: 100%;
  text-align: left;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
}

#header h1{
  font-size: 23px;
  font-weight: bold;
}

#header h3{
  font-size: 18px;
  color: #BBBBBB;
}

.pager{
  text-align: right;
  margin-top: 30px;
}
.pager ul{
  margin-top:40px;
}

.pager li{
  margin: 0px 0px 0px 20px;
}

.pager li>span{
  background-color: transparent;
  font-size: 20px;
  font-weight: bold;
  line-height: 40px;
  vertical-align: middle;
}

#content{
  top:0%;
  position: absolute;
  height: 100%;
  width: 100%;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
}

::selection { background: #7ee9ff; }
::-moz-selection { background: #7ee9ff; }

#content-left{
  color: #000000;
  background-color: #dddddd;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 20px;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
}

#content-left::selection { background: #7ee9ff; }
#content-left::-moz-selection { background: #7ee9ff; }

#content-right{
  background-color: #ffffff;
  color: #333;
  position: absolute;
  right: 0;
  width: 0%;
  height: 100%;
  padding: 0px;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
}

#content-right::selection { background: #7ee9ff; }
#content-right::-moz-selection { background: #7ee9ff;}

#content .side{	overflow: scroll; }

a{
  color: #000000;
  text-decoration: underline;
  font-style: italic;
}

.jumbotron {
  margin-top: 200px;
  background-color: transparent;
  text-align: center;
}

.jumbotron .lead{
  font-size: 30px;
  color: #333333;
}

#learn-more{
  margin-top: 100px;
}

.btn-circle {
  width: 49px;
  height: 49px;
  text-align: center;
  padding: 5px 0;
  font-size: 20px;
  line-height: 2.00;
  border-radius: 30px;
  background-color: #555;
}
.btn-circle:focus,
.btn-circle:active {outline:0 !important;}

.btn-circle-micro {
  width: 19px;
  height: 19px;
  text-align: center;
  padding: 1px 0;
  font-size: 13px;
  line-height: 0.1;
  border-radius: 30px;
}

.btn-circle-sm {
  width: 35px;
  height: 35px;
  text-align: center;
  padding: 2px 0;
  font-size: 20px;
  line-height: 1.65;
  border-radius: 30px;
}

.btn-circle-lg {
  width: 79px;
  height: 79px;
  text-align: center;
  padding: 13px 0;
  font-size: 30px;
  line-height: 2.00;
  border-radius: 70px;
}

pre{background-color: #ffffff; font-size: 12px; color:#D6EDF5; border: 0px solid red; }
code{background-color: transparent; color: #000000; padding: 2px; line-height: 12px; vertical-align: middle;}

body.one #header, body.double #header{height: 120px}
body.one #content, body.double #content{top:120px;
  height: -moz-calc(100% - 120px);
  height: -webkit-calc(100% - 120px);
  height: calc(100% - 120px);}
body.one #content>#content-left, body.double #content>#content-left{background-color: #dddddd;}

body.one #content>#content-left{width: 100%; padding-left: 200px; padding-right: 200px;}
body.one #content>#content-right{width: 0%;}

body.double #content>#content-left{width: 50%;}
body.double #content>#content-right{width: 50%;}


body.one #content>#content-left>#left_wrapper>h1{
  margin-bottom: 50px;
  font-weight: bold;
}

body.double #content>#content-left>#left_wrapper>h1{
  margin-bottom: 30px;
  font-weight: bold;
}

body.one #content>#content-left>#left_wrapper>h1,
body.one #content>#content-left>#left_wrapper>h2,
body.one #content>#content-left>#left_wrapper>h3{
  text-align: center;
}

body.one #content>#content-left>#left_wrapper{font-size: 1.7em;}
body.one #content>#content-left>#left_wrapper p{font-size: 1.1em;}
body.one #content>#content-left>#left_wrapper li{font-size: 1.1em;}
body.one #content>#content-left>#left_wrapper>pre{font-size: 0.8em; margin: 20px 0px;}
body.one #content>#content-left>#left_wrapper>pre>code{color:#000000;}

body.double #content>#content-left>#left_wrapper{font-size: 1.4em;}
body.double #content>#content-left>#left_wrapper p{font-size: 1.1em;}
body.double #content>#content-left>#left_wrapper li{font-size: 1.1em;}
body.double #content>#content-left>#left_wrapper>pre{font-size: 0.8em; margin: 20px 0px;}
body.double #content>#content-left>#left_wrapper>pre>code{color:#000000;}