@(message: String)(implicit request: RequestHeader)

@content = {
  <section id="header">
    <div class="container">
      <div class="col-md-7 col-md-offset-1">
        <h1>Scala.js: Client Side Strongly Typed Functional Programming</h1>
        <h3>ETSII Universidad de Sevilla | December 2015</h3>
      </div>
      <div class="col-md-4">
        <nav>
          <ul class="pager">
            <li><button id="prev" type="button" class="btn btn-circle btn-lg" onclick="example.slides.ExampleJS().move(-1);" disabled="disabled"><i class="glyphicon glyphicon-chevron-left"></i></button></li>
            <li><span id="current">0</span></li>
            <li><button id="next" type="button" class="btn btn-circle btn-lg" onclick="example.slides.ExampleJS().move(1);"><i class="glyphicon glyphicon-chevron-right"></i></button></li>
          </ul>
        </nav>

      </div>
    </div>
  </section>

  <section id="content">
    <div class="side" id="content-left">
      <div id="left_wrapper"></div>
    </div>
    <div class="side" id="content-right">
      <iframe id="right_wrapper" src="" frameborder="0" width="100%" height="100%">Your browser doesn't support iframes.</iframe>
    </div>
  </section>
}
@templates.main("Trivial example", content = content)
